<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <H2 class="center">WELCOME TO RECOVERME LANDING PAGE!</h2>
    <H5 class="center">TO BE IMPLEMENTED</h5>
    <ol>
      <li>Profile Page setup</li>
      <li>Front End Profile Page</li>
      <li>Microposts</li>
      <li>Profile Feed</li>
      <li>Migrate Profile Variables</li>
      <li>Theme Customization</li>
      <li>Statistics Page</li>
      <li>Inside Navigation</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
<% end %>
</body>
</html>
