<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
  <H2 class="center">WELCOME TO RECOVERME LANDING PAGE!</h2>
    <H5 class="center">TO BE IMPLEMENTED</h5>
    <ol>
      <li>Profile Page setup</li>
      <li>Front End Profile Page</li>
      <li>Microposts</li>
      <li>Profile Feed</li>
      <li>Migrate Profile Variables</li>
      <li>Theme Customization</li>
      <li>Statistics Page</li>
      <li>Inside Navigation</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
</body>
</html>
