<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div id="container" style="font-size: 1.5em;">
<h1 class="center">Sign up</h1>
    <div class="item">

      <%= render 'profile_form' %>

  </div>
</div>

<!-- <%= link_to 'Back', users_path %> -->
