/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root{
 --red: #c32222;
 --pink: #f7a1be;
 --orange: #f4511e;
 --yellow: #f0f042;
 --yellowgreen: #86b300;
 --lightgreen: #00e600;
 --lightgreen2: #71f471;
 --green: #008a00;
 --bluegreen: #0da57f;
 --lightblue: #5aa6f2;
 --blue: #4242f0;
 --indigo: #550fbd;
 --lavendar: #bf89f5;
 --purple: #bd2bee;
 --maroon: #862d59;
 --brown: #6f3b2a;
 --white: #fff;
 --grey: #cccccc;
 --lightgrey: #f2f2f2;
 --darkgrey: #404040;
 --black: #111111;
 --aqua: #0fbdbd;
 --redviolet: #a50d4a;
 --salmon: ;
 --asphalt: #34495e;
 --warning: #ffe7e7;
 --theme: #0fbdbd;
 --themeLight: #20dfdf;
 --themeBackground: #fff;
 --themeSecondary: #fff;
 --themeAccent: #fff;
 --asphaltfade: #9cb3c9;
 --success: #ddffdd;
 --message: #007aff;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
